<!DOCTYPE html>
{% extends 'home/home.html' %}
{% load staticfiles %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'home/app.css' %}">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

<html>
    <body>
        {% block register %} **rejestracja** {% endblock register %}
    </body>
</html>
