{% extends 'home/layouts/default.html' %}

{% block title %}QUIZ{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
            <h1>{{ quiz.title }}</h1>
            <form method="post">

                {% csrf_token %}

                {% for question in questions %}
                    <h2> {{question.question}}: </h2>
                    <div class="inline fields">
                        {% for idx, answer in question.get_mixed_answers.items%}
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="question_{{ question.id }}" value="{{ idx }}">
                                    <label>{{ answer }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ui divider"></div>
                {% endfor %}
                <button class="ui primary submit button" type="submit">Zatwierdź</button>
            </form>
    {% else %}
        <div class="ui icon message">
            <i class="bell icon"></i>
            <div class="content">
                <div class="header">
                Nie można wyświetlić quizów
                </div>
                <p>Musisz się najpierw zalogować, by mieć dostęp do quizów.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

