<footer>
    <div class="ui inverted segment">
        <h4 class="ui horizontal inverted divider">
        MEDIA
        </h4>
        <div class="Aligner">
            <div class="ui horizontal list centered">
                <div class="item media">
                    <div class="content">
                    <a class="header">Facebook</a>
                    </div>
                </div>
                <div class="item media">
                    <div class="content">
                    <a class="header">Twitter</a>
                    </div>
                </div>
                <div class="item media">
                    <div class="content">
                    <a class="header">GitHub</a>
                    </div>
                </div>
                <div class="item media">
                    <div class="content">
                    <a class="header">Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
