<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}{% endblock title %} - Quiz</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'home/app.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    </head>

    <body>
        <div class= "ui container">
            {% include "home/includes/navbar.html" %}

            {% block content %}

            {% endblock %}
        </div>
        <h4 class="ui horizontal bottom aligned divider header"> learn how to footer</h4>
        <div class="ui container">
            {% include "home/includes/footer.html" %}
        </div>
    </body>
</html>
