{% extends 'home/layouts/default.html' %}

{% block title %}SIGN UP{% endblock title %}

{% block content %}
  <h2>Zarejestruj</h2>
  <div class="ui form">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button class="ui submit button" type="submit">Zarejestruj</button>
    </form>
  </div>
{% endblock %}
